:root {
	--ivory: #FFFFFC;
	--orange: #FFD6A4;
	--deep-orange: #FD9426;
	--pink: #f48fb1 ;
	--red: #ef5350;
	--green: #81c784;
	--purple: #b39ddb ;
	--blue: #64b5f6;
	--cyan: #80cbc4;
	--yellow: #fecb2e;

	--white: #FAFAFA;
	--white-smoke: #FEFEFE;
	--gallery: #EEEEEE;
	--dark-grey: #4F4F4F;
	--black: #000000;
}